body {
    background-image: url("picOne.jpg");
    background-size: 1920px;
    color: white
}

input:first-child {
    width: 100%;
    border: 1px;
    border-radius: 2px;
}

input#locationSubmit {
    display: none;
}

fieldset {
    border: none;
    background-color: black;
    width: auto;
    opacity: 0.5;
    padding: 10px;
    margin: 0 auto;
    margin: 10px 0;
}

div#search fieldset {
    border: none;
    background-color: black;
    width: auto;
    opacity: 0.5;
    padding: 10px;
    margin: 0 auto;
    border-radius: 5px;
}

h2{
    background-color: rgba(0,0,0,0.1);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}


div{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

div#search{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

div#weatherView {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
    border: 1px;
    border-radius: 5px;
}

legend {
    color: white;
    font-weight: bold;
    text-align: left;
    background-color: black;
}

div#weatherView legend {
    color: black;
    font-weight: bold;
    text-align: left;
    background-color: rgba(255,255,255,0.8);

}


th, td {
    border: 2px solid white;
    text-align: left;
    padding: 0px 10px;
}
